<launch>
  <!-- this launch provides almost the same robot API in gazebo world
       as aero_startup/aero_bringup.launch -->
  <!-- these are the arguments you can pass this launch file, for example PAUSED:=true -->
  <arg name="GUI"      default="true"/>
  <arg name="HEADLESS" default="false"/>
  <arg name="PAUSED"   default="false"/>
  <arg name="WORLD_FILE" default="$(find simple_move)/world/aero_shelf.world"/>
  <arg name="run_gazebo"     default="false" />
  <arg name="use_sim_time"   default="true"/>
  <arg name="debug"          default="false"/>
  <arg name="use_dummy_odom" default="false" />
  <arg name="making_map"     default="false" />

  <env name="GAZEBO_MODEL_PATH" value="$(find simple_move)/gazebo_models" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"
           if="$(arg run_gazebo)" >
    <arg name="world_name"   value="$(arg WORLD_FILE)"/>
    <arg name="gui"          value="$(arg GUI)" />
    <arg name="paused"       value="$(arg PAUSED)"/>
    <arg name="headless"     value="$(arg HEADLESS)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="debug"        value="$(arg debug)" />
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
         textfile="$(find simple_move)/simple_move.urdf"
         unless="$(arg use_dummy_odom)" />
  <param name="robot_description"
         textfile="$(find simple_move)/simple_move.dummy_odom.urdf"
         if="$(arg use_dummy_odom)" />

  <node name="simple_move_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="-urdf -model simple_movee -param robot_description"
        if="$(arg run_gazebo)" />

  <node name="dummy_odom_publisher" pkg="simple_move" type="dummy_odom_node.py"
        if="$(arg use_dummy_odom)" />

  <include file="$(find simple_move)/launch/static_map_navigation.launch"
           unless="$(arg making_map)">
    <arg name="map_file" value="$(find simple_move)/map/map.yaml" />
  </include>

  <group if="$(arg making_map)" >
    <include file="$(find simple_move)/launch/gmapping.launch" />
    <include file="$(find simple_move)/launch/move_base.launch" />
  </group>
</launch>
