<launch>
    <arg name="ip_address"    default="192.168.0.10" />
    <!-- <arg name="angle_min"     default="-2.35619449019" />
    <arg name="angle_max"     default="2.35619449019" /> -->
    <arg name="angle_min"     default="-1.57" />
    <arg name="angle_max"     default="1.57" />
    <arg name="frame_id"      default="base_laser_link" />
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <param name="ip_address" value="$(arg ip_address)"/>
        <param name="serial_port" value=""/>
        <param name="serial_baud" value=""/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="calibrate_time" value="false"/>
        <param name="publish_intensity" value="false"/>
        <param name="publish_multiecho" value="false"/>
        <param name="angle_min" value="$(arg angle_min)"/>
        <param name="angle_max" value="$(arg angle_max)"/>
      </node>
</launch>
